﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Director/InnerDir.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Director_Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


    <table class="styledmenu">
        <tr>
            <td style="width: 185px">
                <asp:Image ID="Image1" runat="server" ImageAlign="Left" 
                    ImageUrl="~/Director/pj.jpg" />
                </td>
            <td align="left">
                <b style="color: rgb(0, 102, 153); font-family: Tahoma; font-size: medium; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 14px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">
                Dr. P. J. George<br />
                Director-Principal<br />
                KITM<br />
                Kurukshetra</b></td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                &nbsp;</td>
            <td style="width: 537px" rowspan="8">
                &nbsp;</td>
            <td rowspan="8">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                <asp:HyperLink ID="HyperLink1" runat="server">HyperLink</asp:HyperLink>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                <asp:HyperLink ID="HyperLink2" runat="server">HyperLink</asp:HyperLink>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                <asp:HyperLink ID="HyperLink3" runat="server">HyperLink</asp:HyperLink>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                <asp:HyperLink ID="HyperLink4" runat="server">HyperLink</asp:HyperLink>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                <asp:HyperLink ID="HyperLink5" runat="server">HyperLink</asp:HyperLink>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                <asp:HyperLink ID="HyperLink6" runat="server">HyperLink</asp:HyperLink>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                &nbsp;</td>
            <td style="width: 537px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                &nbsp;</td>
            <td style="width: 537px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 185px">
                &nbsp;</td>
            <td style="width: 537px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    
</asp:Content>

