﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="~/Teacher/InnerTeacher.master.cs" Inherits="InnerMasterPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/smoothcss.dwt" codeOutsideHTMLIsLocked="false" -->
<head id="Head1" runat="server">
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="title/meta" -->
<title>KITM ERP</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<link href="../styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../logo.JPG" sizes="32x32">
<link rel="shortcut icon" href="../logo.jpg" type="image/x-icon">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

 
</head>
<body>
<form id="form1" runat="server">
 <div id='NavbarMenu' >
     <ul id='nav'>
        <li><asp:LinkButton ID="LinkButton4" runat="server" PostBackUrl="~/Teacher/Home.aspx">Home</asp:LinkButton></li>
        <li><asp:LinkButton ID="LinkButton7" runat="server" PostBackUrl="~/Teacher/Profile.aspx">My Info</asp:LinkButton></li>
        <li><asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/Teacher/Institute.aspx">Institute</asp:LinkButton></li>
        <li><asp:LinkButton ID="LinkButton11" runat="server" PostBackUrl="~/Teacher/Download.aspx">Downloads</asp:LinkButton></li>
        <li><a href="#">Students</a>
            <ul>       
               <li><asp:LinkButton ID="LinkButton2" runat="server" PostBackUrl="~/Teacher/studentattend.aspx">Attendance</asp:LinkButton></li>
                   <li><a href="#">Attendance Requests</a>
                    <ul>
                       <li><asp:LinkButton ID="LinkButton10" runat="server" PostBackUrl="~/Teacher/attdreq.aspx">Generate Requests</asp:LinkButton></li>
                       <li><asp:LinkButton ID="LinkButton12" runat="server" PostBackUrl="~/Teacher/sentattdreq.aspx">Sent Requests</asp:LinkButton></li>
                    </ul>
                   </li>
                    <li><asp:LinkButton ID="LinkButton3" runat="server" PostBackUrl="~/Teacher/StudentSessional.aspx">Sessionals</asp:LinkButton></li>
                    <li><a href="#">Sessional Requests</a>
                    <ul>
                        <li><asp:LinkButton ID="LinkButton9" runat="server" PostBackUrl="~/Teacher/mksreq.aspx">Generate Requests</asp:LinkButton></li>
                        <li><asp:LinkButton ID="LinkButton13" runat="server" PostBackUrl="~/Teacher/sentmksreq.aspx">Sent Requests</asp:LinkButton></li>
                    </ul>
                </li>
            </ul>
       </li>
       <li><a href="#">Online Test</a>
           <ul>       
               <li><asp:LinkButton ID="LinkButton14" runat="server" PostBackUrl="~/Teacher/testtec.aspx">Create Tests</asp:LinkButton></li>
               <li><asp:LinkButton ID="LinkButton15" runat="server" PostBackUrl="~/Teacher/testqst.aspx">Add Questions</asp:LinkButton></li>
               <li><asp:LinkButton ID="LinkButton16" runat="server" PostBackUrl="~/Teacher/testrpt.aspx">Test Report</asp:LinkButton></li>
          </ul>
       </li>
    <li><asp:LinkButton ID="LinkButton5" runat="server" PostBackUrl="~/Teacher/Icard.aspx">Generate I-Card</asp:LinkButton></li>
    <li><a href='#'><asp:Image ID="Image1" runat="server" ImageUrl="~/images/settings.png"/></a>
<ul>
    <li><asp:LinkButton ID="LinkButton8" runat="server" PostBackUrl="~/Teacher/CngPwdTeacher.aspx">Change Password</asp:LinkButton></li>		
    </ul></li>
        <div class="li1">
	
<li><a href="Feedback.aspx">Feedback</a></li>	
	<li><asp:LinkButton ID="LinkButton6" runat="server" PostBackUrl="~/Logout.aspx">LogOut</asp:LinkButton></li>

    </div>
    </ul>
  </div>
  
<div id="outerWrapper">
  <div id="header">
    
    
  </div>
  <div id="navcontainer123">
    <div id="nav123">
      <ul>
        <li><a href="#">KITMERP Teacher's Portal</a></li>
        
      </ul>
    </div>
  </div>
  <div id="twoColumnleft">   
     <center>
          <table width="875px">
              <tr>
                  <td class="style1">
                      <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
                      </asp:ToolkitScriptManager><center><h2 class="styledmenu">Welcome Teacher</h2></center>
                  </td>
              </tr>
              <tr>
                  <td class="style1">
                   <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder></td>
              </tr>
              <tr>
                  <td class="style1">
                      </td>
              </tr>
          </table>
      </center>
    <div class="clear"></div>
  </div>
  <div id="footer"><span style="float:right;padding-right:30px;"><a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></span>Copyright &copy; 2011 KITM ERP </div>  
<div id="credit"><a href="#">Website Designed and Developed</a> by Manu Singhal and Nitin Kumar (CSE Final year students) <br /> under the guidance of Er. Rajan Jain</div>
</div>
</form>
</body>
</html>