﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <p class="MsoNormal" style="color: #FF0000">
        <strong>Sorry for inconvenience, </strong><span style="mso-spacerun:yes">
        <strong>&nbsp;</strong></span><strong>An Internal Error has occurred. We’ll fix this 
        error soon. . .</strong></p>
</asp:Content>
    </div>
    </form>
</body>
</html>
