﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SA/InnerSA.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="SA_Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


<h1>Welcome, Super Administrator</h1>
    <asp:Label id="l1" runat="server" ></asp:Label>
</asp:Content>

