﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Student/InnerStudent.master" AutoEventWireup="true" CodeFile="Expire.aspx.cs" Inherits="Student_Expire" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
            <asp:Label ID="Label1" runat="server" Font-Bold="True" ForeColor="Red" 
                Text="Your Test Session has been expired ..."></asp:Label>
            &nbsp;<br />
   
    
    
    </asp:Content>
