﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Student/InnerStudent.master" AutoEventWireup="true" CodeFile="testskltst.aspx.cs" Inherits="Student_testskltst" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
   <table style="width: 100%">
        <tr>
            <td colspan="2">
                <h2>
                    Test Your Skills</h2>
                </td>
        </tr>
        <tr>
            <td style="width: 117px">
                Choose Test</td>
            <td align=left>
                <asp:DropDownList ID="DropDownList1" runat="server" 
                    DataSourceID="ObjectDataSource1" DataTextField="p_tecnam" 
                    DataValueField="p_teccod" CssClass="field2">
                </asp:DropDownList>
            </td>
        </tr>
        <tr>
            <td style="width: 117px">
                &nbsp;</td>
            <td align=left>
                <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
                    Text="Start Test" Width="103px" />
            &nbsp;<asp:Label ID="Label1" runat="server" Font-Bold="True" ForeColor="Maroon"></asp:Label>
            </td>
        </tr>
        <tr>
            <td colspan="2" align=left>
                <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" 
                    SelectMethod="Display_RecST" TypeName="ot.clstec"></asp:ObjectDataSource>
                <br />
            </td>
        </tr>
        </table>
</asp:Content>

