﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/InnerAdmin.master" AutoEventWireup="true" CodeFile="LogDetStudent.aspx.cs" Inherits="Admin_LogDetStudent" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%" 
    Font-Names="Verdana" Font-Size="8pt" InteractiveDeviceInfos="(Collection)" 
    WaitMessageFont-Names="Verdana" WaitMessageFont-Size="14pt">
        <LocalReport ReportPath="Admin\logdet_st.rdlc">
            <DataSources>
                <rsweb:ReportDataSource DataSourceId="SqlDataSource1" Name="logdet_st" />
            </DataSources>
        </LocalReport>
    </rsweb:ReportViewer>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:cn %>" 
    SelectCommand="ADmin_rpt_logdetst" SelectCommandType="StoredProcedure" 
        ProviderName="System.Data.SqlClient">
    <SelectParameters>
        <asp:SessionParameter Name="clg" SessionField="other" Type="Int32" />
    </SelectParameters>
</asp:SqlDataSource>
</asp:Content>

