﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/InnerAdmin.master" AutoEventWireup="true" CodeFile="ViewSyllabusAdmin.aspx.cs" Inherits="Admin_ViewSyllabusAdmin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table class="style1">
        <tr>
            <td class="style2">
                    &nbsp;</td>
            <td>
                    &nbsp;</td>
        </tr>
        <tr>
            <td class="style2">
                    <strong>Select Course</strong></td>
            <td>
                <asp:DropDownList ID="DropDownList1" runat="server" 
                    AutoPostBack="True" 
                    onselectedindexchanged="DataList1_SelectedIndexChanged" >
                </asp:DropDownList>
            </td>
        </tr>
        <tr>
            <td class="style4" style="height: 18px">
            </td>
            <td class="style3" style="height: 18px">
            </td>
        </tr>
        <tr>
            <td class="style2" style="height: 18px">
            </td>
            <td style="height: 18px">
            </td>
        </tr>
        <tr>
            <td class="style2">
                    &nbsp;</td>
            <td>
                <asp:DataList ID="DataList1" runat="server" Width="128px" 
                    onselectedindexchanged="DataList1_SelectedIndexChanged" 
                    DataKeyField="depid" 
                    >
                    <HeaderTemplate>
                        <table>
                            <tr  >
                                <th >
                                    Syllabus</th>
                                    <th>TimeTable</th>
                            </tr>
                    </HeaderTemplate>
                    <ItemTemplate>
                        <tr style="background-color:transparent">
                            <td>
                                <asp:LinkButton ID="LinkButton1" runat="server" Text='<%#Eval("depname") %>' 
                                    onclick="LinkButton1_Click" ></asp:LinkButton>
                            </td>
                            <td>
                                <asp:LinkButton ID="LinkButton2" runat="server" Text='<%#Eval("depname") %>' 
                                    onclick="LinkButton2_Click"></asp:LinkButton>
                            </td>
                        </tr>
                        
                    </ItemTemplate>
                
                    <FooterTemplate>
                        </table>
                    </FooterTemplate>
                </asp:DataList>
            </td>
        </tr>
    </table>
</asp:Content>

