﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="~/Common/Common.master.cs"Inherits="InnerMasterPage" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/smoothcss.dwt" codeOutsideHTMLIsLocked="false" -->
<head runat="server">
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="title/meta" -->
<title>KITM ERP</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<link href="../styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../logo.JPG" sizes="32x32">
<link rel="shortcut icon" href="../logo.JPG" type="image/x-icon">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

 
</head>
<body>
<form id="form1" runat="server">
<div id="outerWrapper">
  <div id="header">
    
    
  </div>
  <div id="navcontainer123">
    <div id="nav123">
      <ul>
        <li>
 <li><asp:LinkButton ID="LinkButton2" runat="server" PostBackUrl="~/HOD/Home.aspx">Home </asp:LinkButton></li>  
        <li><asp:LinkButton ID="LinkButton9" runat="server" PostBackUrl="~/HOD/frmhodmyalb.aspx">My Album</asp:LinkButton></li>
        <li><asp:LinkButton ID="LinkButton11" runat="server" PostBackUrl="~/Common/frmhodshralb.aspx">Shared Albums</asp:LinkButton></li>      
        <%--<li><a href='#'>My Info</a></li>--%>
        </li>
      </ul>
    </div>
  </div>
  <!-- To change from a 2 column right sidebar to a 2 column left sidebar layout change the id below to "twoColumnleft". To make a 3 column layout with both left and right sidebars, change it to "threeColumns". -->
  <div id="twoColumnleft">  
     <center>
          <table width="875px">
              <tr>
                  <td class="style1">
                      <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
                      </asp:ToolkitScriptManager><center><h2 class="styledmenu">&nbsp;</h2></center>

                  </td>
              </tr>
              <tr>
                  <td class="style1">
                   <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder></td>
              </tr>
              <tr>
                  <td class="style1">
                      &nbsp;</td>
              </tr>
          </table>
      </center>
    <div class="clear"></div>
  </div>
  <div id="footer"><span style="float:right;padding-right:30px;"><a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></span>Copyright &copy; 2011 KITM ERP </div>  
<div id="credit"><a href="#">Website Designed and Developed</a> by Manu Singhal and Nitin Kumar (CSE Final year students) <br /> under the guidance of Er. Rajan Jain</div>
</div>
</form>
</body>
<!-- InstanceEnd --></html>
