﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HOD/InnerHOD.master" AutoEventWireup="true" CodeFile="AddSyllabus.aspx.cs" Inherits="HOD_AddSyllabus" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table  width="100%" style="text-align: left; font-weight: bold;">
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                &nbsp;</td>
            <td>
                <asp:Label ID="Label3" runat="server" Font-Bold="True" ForeColor="#003399" 
                    Font-Size="XX-Large">AttachMents</asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                Attach Syllabus</td>
            <td>
                <asp:FileUpload ID="FileUpload1" runat="server" style="margin-left: 0px" />
                <asp:Label ID="Label1" runat="server" Font-Bold="True" ForeColor="#003300"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                &nbsp;</td>
            <td>
                <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Submit" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                Attach Timetable</td>
            <td>
                <asp:FileUpload ID="FileUpload2" runat="server" 
                    style="margin-left: 0px; text-align: right;" />
                <asp:Label ID="Label2" runat="server" Font-Bold="True" ForeColor="#003300"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                &nbsp;</td>
            <td>
                <asp:Button ID="Button2" runat="server" onclick="Button2_Click" Text="Submit" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td style="width: 284px">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</asp:Content>

