﻿<%@ Page Title="" Language="C#" MasterPageFile="~/TNP/InnerTNP.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="TNP_Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<h1>Welcome, Training and Placement Officer</h1>
</asp:Content>

